html {
	font-family: hevetica, arial, sans-serif;
	font-size: 12pt;
	color: #536871;
	background-color: #fdf6e3;
}
body {
	width: 800px;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 24px;
}
h1 {
	font-size: 36pt;
	text-align: center;
	margin: 5px;
}
h2 {
	font-size: 18pt;
	text-align: center;
	margin: 5px;
}
p {
	text-align: center;
}
a {
	color: #269186;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.screenshot-selector:hover {
	text-decoration: none;
}
.gallery-full {
	margin-top: 10px;
}
.gallery-picker {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
img.gallery-small {
	margin: 0px 0px;
}
.selected {
	padding: 0;
	border: 6px #268bd2 solid;
}
.not-selected {
	padding: 6px;
	border: 0;
}
.text-content {
	text-align: left;
}
.text-content p {
	text-align: left;
}
.text-content h2 {
	margin-left: 0;
	text-align: left;
}
#footer p {
	margin-top: 36px;
	color: #94A1A6;
